<div class="container-all">
  <div class="headers">
    <h4 class="header">Available data</h4>
    <h4 class="header">Χ</h4>
    <h4 class="header">Y</h4>
  </div>
  <div class="container">
    

    <div
      cdkDropList
      #dataList="cdkDropList"
      [cdkDropListData]="data"
      [cdkDropListConnectedTo]="[xList, yList]"
      class="list"
      (cdkDropListDropped)="drop($event)">
      <div class="box" *ngFor="let dato of data" cdkDrag>{{dato}}</div>
    </div>
  </div>

  
  <div class="container">
    <div
      cdkDropList
      #xList="cdkDropList"
      [cdkDropListData]="xData"
      [cdkDropListConnectedTo]="[dataList]"
      class="list"
      (cdkDropListDropped)="drop($event)">
      <div class="box" *ngFor="let xD of xData" cdkDrag>{{xD}}</div>
    </div>
  </div>


  
  <div class="container">
    <div
      cdkDropList
      #yList="cdkDropList"
      [cdkDropListData]="yData"
      [cdkDropListConnectedTo]="[dataList]"
      class="list"
      (cdkDropListDropped)="drop($event)">
      <div class="box" *ngFor="let yD of yData" cdkDrag>{{yD}}</div>
    </div>
  </div>
</div>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="adminUsers" color="primary" (click)="closeDialog()">Set X-Y</button>
</mat-dialog-actions>