.example-container {
    width: 100%;
    height: calc(100vh - 55px);
    /* border: 1px solid #555; */
  }

.notif_sidenav{
  /* border-right: 0; */
}

.notif-pagin{
  background-color: inherit;
  float: left;
  /* width: 45%; */
  /* margin-right: 30%; */
  /* margin-top: 2px; */
  /* height: 10px; */
}