<div class="all" *ngIf="userToSee">
  <div *ngIf="userToSee?.meta?.picture; else no_pic" class="left">
    <img
      mat-card-image-lg
      class="user_image"
      src="{{ userToSee.meta.picture }}"
    />
  </div>
  <ng-template #no_pic>
    <div class="left">
      <img mat-card-image-lg class="user_no_image" src="assets/owl.png" />
    </div>
  </ng-template>

  <div class="right">
    <h4>{{ userToSee.name }}</h4>
    <p class="about">{{ userToSee.about }}</p>
    <div class="user_occup">
      <div *ngIf="userToSee.occupation" class="occup">
        <p class="occupa">Occupation: {{ userToSee.occupation }}</p>
        <div *ngIf="userToSee.occupationAt" class="occup_at">
          <p>at: {{ userToSee.occupationAt }}</p>
        </div>
      </div>
    </div>

    <div class="social">
      <div *ngIf="userToSee.github">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="{{ userToSee.github }}"
        >
          <img
            class="social_img"
            matTooltip="Github account"
            src="assets/github.png"
          />
        </a>
      </div>

      <div *ngIf="userToSee.twitter">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="{{ userToSee.twitter }}"
        >
          <img
            class="social_img"
            matTooltip="Twitter account"
            src="assets/twitter.png"
          />
        </a>
      </div>

      <div *ngIf="userToSee.website">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="{{ userToSee.website }}"
        >
          <img
            class="social_img"
            matTooltip="Website account"
            src="assets/internet.png"
          />
        </a>
      </div>

      <div *ngIf="userToSee.linkedin">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="{{ userToSee.linkedin }}"
        >
          <img
            class="social_img"
            matTooltip="Linkedin account"
            src="assets/linkedin.png"
          />
        </a>
      </div>
    </div>
  </div>
</div>
