<div class="content">
  <div class="manage_accounts">
    <button
      mat-mini-fab
      color="accent"
      (click)="manageAccounts()"
      matTooltip="Manage account"
      class="buttons"
    >
      <mat-icon>supervisor_account</mat-icon>
    </button>
    <h4 class="b-h1">Manage account</h4>
  </div>

  <div>
    <button
      mat-mini-fab
      color="warn"
      (click)="logout()"
      matTooltip="Logout from Jaqpot"
      class="buttons"
    >
      <mat-icon>cancel</mat-icon>
    </button>
    <h4 class="b-h2">Logout</h4>
  </div>

  <div>
    <button
      mat-mini-fab
      color="primary"
      (click)="downloadApiKey()"
      matTooltip="Get API key for Jaqpot services"
      class="buttons-api-key"
    >
      <mat-icon>south</mat-icon>
    </button>
    <h4 class="b-h3">Get key</h4>
  </div>
</div>
