.no_header{
    /* margin-left: 20%; */
    text-align: center ;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.exists{
    text-align: center ;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.all{
    opacity: 0.7;
}

a:hover{
    cursor: pointer;
}

.owner{
    margin: 1em;
}

.description{
    margin: 1em;
}

.date{
    margin-top: 1em;
}

.ul{
    margin-left: -2em
}

.org_shared{
    margin-top: 0.5em;
}

.shared{
    margin-top: 1em;
}