.spinner {
    margin: 2em;
}

.spacer {
    display: inline-block;
    flex: 1 1 auto;
    /* margin: 2em; */
    /* margin-bottom: 7em; */
  }
  

  .check-section {
    margin: 12px 0;
  }
  
  .marginer {
    margin: 0 12px;
  }
  
  ul {
    list-style-type: none;
    margin-top: 4px;
  }

  .chart{
    margin: 2em;
    width: 100%;
    top: 50%;

}
