.inputorganization {
  width: 100%;
}

.orgim {
  width: 2em;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 1em;
}

.orgname {
  margin-left: 1em;
  vertical-align: middle;
}

.invite-message {
  width: 100%;
}
