
.wrapper{
  display: flex;
  width: 1000px;
  height: 90%;
}

.datasetcard{
    /* display: inline-block;
    vertical-align: top; */
    /* height: 400px; */
    /* min-height: 600px;
    min-width: 40%;
    margin-left: 2em;
    margin-top: 2em; */
    /* max-height: 90%; */
    /* float: left; */
    display: inline-block;
    vertical-align: top;
    min-height: 600px;
    min-width: 40%;
    margin: 2em;
   }
  
  .data-table {
    /* display: flex; */
    flex-direction: column;
    max-width: 100%;
    min-width: 880px;    
    /* min-height: 100%; */
    /* height: 550px; */
  }
  
  .mat-card{
    min-width: 40%;
  }
  
  /* mat-card-content{
    min-width: 90%;
  } */
  
  mat-form-field{
    min-height: 20px;
    padding: 8px 24px 0;
    min-width: 100%;
    width: 90%;
    min-width: 90%;
    min-height: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 420px;
    /* min-width: 600px; */
    min-width: 100%;
    min-height: 90%;
  }
  

  button{
    float: left;
    margin-top: 4em;
    /* margin-right: 1em; */
    margin-left: 2em;
    opacity: 0.8;
  }

  /* .first{
    margin-left: 3em;
  }

  .last{
    margin-right: 20em;
  } */
  
  .mat-row:hover {
    transition: all .2s ease-in-out;
    background-color: lightgray;
    cursor: pointer;
  }
  
  .loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }


.datawrap{
  display: flex;
  width: 1000px;
  height: 80%;
} 

.databutw{
    float: left;
    width:7%;
}

.datalist{
    float: left;
    width:93%;
}