.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.info {
  padding: 1em;
}

.head {
  padding-left: 1em;
}

.implemented {
  padding: 1em;
  float: left;
  width: 50%;
}

.impim {
  margin-top: 0.7em;
}

.Rimg {
  width: 16%;
  height: 16%;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container>* {
  width: 100%;
}

.example-spacer-2 {
  flex: 12 1 auto;
}



.mat-list .mat-list-item {
    height: 8em;
    /* padding-right: 1em; */
}

.mat-divider.mat-divider-vertical{
    height: 30px;
    padding: 8px;
}

.httk-rout{
    max-width: 6em;
    float: left;
    min-height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* position: absolute; */
    flex: 0 0 65%;
}

.httk-list {
  /* min-width: 20%;
  max-width: 20%;
  min-height: 100%; */
  /* margin-top: 4em; */
  height: 100%;
  position: fixed;
  /* overflow: hidden; */
  flex: 0 0 65%;

  /* border-right: 1px solid gray; */
}

.httk-routes{
  flex: 1;
  /* float: left; */
  position: fixed;
  margin-left: 4em;
  margin-left: 4em;
  overflow: hidden;
  /* margin-left: 2em; */
}

.divider{
  position: fixed;
  margin-top: 4em;
}

.mat-divider.mat-divider-vertical.second{
    height: 38.85em;
    margin-left: -17px;
    z-index: -1;
    /* padding: 8px; */
}

.mat-divider.first-div{
  margin-top: 4em;
  position: sticky;
  /* position: relative; */
}


.mat-toolbar{
  position: fixed;
  z-index: 1;
}

/* .first-div{
  position: fixed;
  margin-top: 8em;
}  */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
