.create-org{
    margin:auto;
    width: 60%;
    height:40%;
    border: 1px solid lightgrey;
    margin-top: 10%;
    border-radius: 5px;
    position: relative;
}

.input{
    height: 400px;
    width: 90%;
    margin:auto;
    margin-left: 5%;
}

.org_h{
    margin-top: 5%;
    margin-left: 5%;
    opacity: 0.9;
}

.a_b_0{
    float:right;
    margin-right:2em;
    position: absolute;
    bottom: 20px;
    right: 120px;
}

.a_b_1{
    float:right;
    margin-right:5%;
    position: absolute;
    bottom: 20px;
    right: 0px;
}