.algogrid{
    /* margin-left: 20px; */
    margin: 20px;
    /* overflow: auto; */
}




.algowrap{
    display: flex;
    width: 1000px;
    height: 80%;
} 

.algolist{
    float: left;
    width:75%;
}

.algodet{
    float: left;
    width:25%;
}



button{
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: all .2s ease-in-out;
    /* position: sticky; */
    /* top: 20px;
    right: 36px; */
    color: lightseagreen;
    opacity: 0.4;
}

button:hover{
    transition: all .2s ease-in-out;
    opacity: 1;
}