<div *ngIf="!canExecute; else can_execute" class="cannot">
  <mat-card class="cannot_card">
    <h4>Your account does not have Execute rights upon this model</h4>
  </mat-card>
</div>

<ng-template #can_execute>
  <div *ngIf="model" class="can mat-elevation-z2">
    <h4>Choose method</h4>
    <mat-form-field class="method">
      <mat-select [(value)]="selected" (selectionChange)="methodSelected($event)">
        <mat-option value="Predict">Predict</mat-option>
        <mat-option *ngIf="canValidate" value="Validate">Validate</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</ng-template>

<div *ngIf="!taskStarted; else task" class="first_card">


  <div *ngIf="canExecute">


  
  <div *ngIf="selected === 'Predict';  else validate;" class="base mat-elevation-z2">
    <h4>Upload dataset with the required independent features and values</h4>

    <button matTooltip="Download template dataset (csv)" mat-icon-button color="primary" (click)="downloadTemplate()">
      <mat-icon>arrow_downward</mat-icon>
    </button>

    <button matTooltip="Upload dataset (should at least contain independent features)" mat-icon-button color="accent"
      type="button" onclick="document.getElementById('fileToUpload').click()">
      <mat-icon>arrow_upward</mat-icon>
    </button>
    <input #dataInput id="fileToUpload" type="file" style="display:none;" accept="image/*, .csv" multiple="multiple"
      (change)="changeListener($event.target.files)">


    <div *ngIf="datasetFormated">
      <app-simple-dataset [datasetToSee]="datasetForPrediction"></app-simple-dataset>
    </div>




    <div *ngIf="datasetFormated" class="input_val_butt">
      <button class="b2" matTooltip="Erase dataset" mat-button color="warn" (click)="eraseDataset()">
        Erase dataset
      </button>
      <button class="b1" matTooltip="Start prediction with input dataset" mat-button color="accent" (click)="startDatasetPrediction()">
        Start procedure
      </button>
    </div>




    <h4 class="input_vals_h">Input values for the independent features</h4>

    <div *ngIf="indepfeatureAndValues" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="4px" fxLayoutAlign="flex-start">
      <div *ngFor="let feat of indepfeatureAndValues">
        <div *ngIf="feat.feature.meta.descriptions[0]; else noDesc;">
          <form matTooltip={{feat.feature.meta.descriptions[0]}} fxFlex.xl="100%" fxFlex.lg="100%" fxFlex.md="100%"
            fxFlex.sm="100%" fxFlex.xs="100%" class="input-form mat-elevation-z1">
            <mat-form-field class="full-width">
              <input matInput placeholder="{{feat.feature.meta.titles[0]}}" value="" [(ngModel)]='feat.value'
                [ngModelOptions]="{standalone: true}" (ngModelChange)="inputChanged(feat)">
              <mat-hint align="start"><strong>{{feat.feature.units}}</strong> </mat-hint>
            </mat-form-field>
          </form>
        </div>
        <ng-template #noDesc>
          <form fxFlex.xl="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%" class="input-form mat-elevation-z1">
            <mat-form-field class="full-width">
              <input matInput placeholder="{{feat.feature.meta.titles[0]}}" value="" [(ngModel)]='feat.value'
                [ngModelOptions]="{standalone: true}" (ngModelChange)="inputChanged(feat)">
              <mat-hint align="start"><strong>{{feat.feature.units}}</strong> </mat-hint>
            </mat-form-field>
          </form>
        </ng-template>

      </div>
      <div *ngIf="ready" class="input_val_butt">
        <button class="b1" matTooltip="Start prediction with input values" mat-button color="warn" (click)="startInputPrediction()">
          Start
        </button>
      </div>
    </div>

  </div>



  <ng-template #validate>
    <div *ngIf="depFeatureAndValues && indepfeatureAndValues">
      <app-validate [depFeats]="depFeatureAndValues" [indepFeats]="indepfeatureAndValues" [model]="model"></app-validate>
    </div>
  </ng-template>
</div>
</div>

<ng-template #task>
  <div class="task mat-elevation-z2">
    <h4>Task started</h4>
    <h5>Predicted dataset or value will be returned</h5>

    <mat-progress-bar class="example-margin" [color]="warn" [mode]="Determinate" [value]="progressValue" [bufferValue]="bufferValue">
    </mat-progress-bar>

    <div *ngIf="taskGot">
      <div *ngFor="let com of taskGot.meta.comments">
        <h6>
          {{com}}
        </h6>
      </div>
    </div>

    <div *ngIf="taskHasError">
      <mat-icon color="warn">warning</mat-icon>
      <h5 class="error_header">Task finished with error</h5>

      <button matTooltip="View error" mat-icon-button (click)="viewTheError()">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>

      <div *ngIf="viewError">
        <h5>Error: {{taskGot.errorReport.code}}</h5>
        <h5>Message: {{taskGot.errorReport.message}}</h5>

        <div *ngIf="_canSeeDetails">
          <h6>Details : {{taskGot.errorReport.details}}</h6>
        </div>
      </div>

    </div>
    <div *ngIf="taskCompletedSuccesfully">
      <button matTooltip="View Prediction" mat-icon-button (click)="viewTheResult()">
        <mat-icon>done_all</mat-icon>
      </button>

      <div *ngIf="viewPrediction && actualPredicted" class="predicted">
        <app-predicted [predictedDataset]="actualPredicted"></app-predicted>
      </div>

    </div>

  </div>

</ng-template>
