.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.email {
  width: 300px;
  margin-right: 36px;
}

.pass {
  width: 300px;
  margin-right: 36px;
}

.error {
  color: red;
  font-weight: bold;
  margin-left: 22px;
}

.success {
  color: green;
  font-weight: bold;
  margin-left: 22px;
}
