.grid_tile {
  margin: 1em;
}

.grid_list {
  position: absolute;
  min-height: calc(100vh - 118px);
  max-height: calc(100vh - 118px);
  overflow-y: auto;
  /* overflow: auto; */
  /* float: left; */
  width: 100%;
  bottom: 0;
  /* display: inline-block; */
}

.mat-card-content {
  margin-bottom: 0;
}

.card:hover {
  cursor: pointer;
  background-color: lightgray;
  transition: all 0.2s ease-in-out;
}

.list_item_button {
  visibility: hidden;
}

.list_item:hover .list_item_button {
  visibility: visible;
}

/* mat-list-item.button:hover{
    display:block;
} */

.list_item:hover {
  cursor: pointer;
  background-color: lightgray;
  transition: all 0.2s ease-in-out;
}

/* .item_card{
    width: 60%;
    height: 80%;
} */

.card {
  margin: 1em;
  border-radius: 4%;
}

.card_header {
  overflow: hidden;
  max-height: 6em;
  min-height: 4em;
  max-width: 12em;
}

.entity_image {
  height: 128px;
  width: 128px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 1em; */
  border-radius: 4%;
}

.entity_asset_image {
  height: 128px;
  width: 128px;
}

.description {
  margin-top: 3em;
  overflow: hidden;
  width: 100%;
  max-height: 5em;
  min-height: 5em;
}

/* .image_div{
    margin-top:2em; 
    width:20em;
} */
