.validate{
    margin-top: 1em;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4em;
    padding: 1em;
}

.task{
    margin-top: 1em;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 6em;
    padding: 1em;
}


.input_val_butt{
    margin-top: 1em;
}

.b2{
    margin-top: 0.5em;
    float: right;
}

.b1{
    margin-top: 0.5em;
    float: right;
}