<div mat-subheader>Invitations</div>
<div class="content">
    <mat-list class="inv-list">
        <mat-list-item *ngFor="let inv of _invitations" class="list-item">
          <mat-icon mat-list-icon>assignment_ind</mat-icon>
          <div mat-line> {{inv.from}}  invited you</div>
          <div mat-line>at {{inv.meta.date | date}} </div>
          <div mat-line>to join  <h4>{{inv.invitationTo}}</h4> </div>
          <div mat-line> {{inv.body}} </div>


          <div class="decline-b">
            <button mat-mini-fab color="warn" matTooltip="Decline invitation" (click)="decline(inv)">
              <mat-icon>assignment_late</mat-icon>
            </button>
          </div>
          <div class="accept-b">
            <button mat-mini-fab color="primary" matTooltip="Accept invitation" (click)="accept(inv)">
              <mat-icon>assignment_turned_in</mat-icon>
            </button>
          </div>



        </mat-list-item>
    </mat-list>
</div>

<mat-paginator [length]="_totalNew"
               [pageSize]="[10]"
               [pageSizeOptions]="[10]"
               (page)="pageEvent = viewInvits($event)">
</mat-paginator>
