p{
    margin-top: 2em;
}

.orgmeta{
    /* width:60%; */
    margin-top: 2em;
    margin-left: 1em;
}

/* .add-description{
    width: 75%;
}

.add-subject{
    width: 75%;
}

.add-audience{
    width: 75%;
} */

.audience{
    width: 40%;
    float:left;
}

.discription{
    width: 40%;
    float:left;
}

.subject{
    width: 40%;
    float:left;
}

.edit-description{
    width: 100%;
}

.edit-description-f{
    width: 70%;
    float: left;
}

.delete-description-b{
    margin-left: 0.5em;
    /* margin: 0em; */
    margin-bottom: 3em;
    margin-top: 1em;
}

.edit-subject{
    width: 100%;
}

.edit-subject-f{
    width: 70%;
}

.delete-subject-b{
    margin-left: 0.5em;
    /* margin: 0em; */
    margin-bottom: 3em;
    margin-top: 1em;
}

.edit-audience{
    width: 100%;
}

.edit-audience-f{
    width: 70%;
}

.delete-audience-b{
    margin-left: 0.5em;
    /* margin: 0em; */
    margin-bottom: 3em;
    margin-top: 1em;
}

