<h4 class="category">{{category }} Notifications</h4>
<mat-divider></mat-divider>


<div *ngIf="loading; else noLoading" class="view-notifs">
  <mat-spinner class="notif-spin"></mat-spinner>
</div>

<ng-template #noLoading>
  <div class="view-notifs">

    <div *ngFor="let notif of notifications_to_view">
      <div *ngIf="notif.type=='INVITATION'">
        <button mat-menu-item (click)="openNotifDialog(notif)">
          <mat-icon>group</mat-icon>
          <span *ngIf="notif.viewed==false else no_bold">
            <b> Invitation to join {{notif.invitationTo}} </b>
          </span>
          <ng-template #no_bold><span>Invitation to join {{notif.invitationTo}}</span></ng-template>
        </button>
      </div>
      <div *ngIf="notif.type=='SHARE'">
        <button mat-menu-item (click)="openNotifDialog(notif)">
          <mat-icon>share</mat-icon>
          <span *ngIf="notif.viewed==false else no_bold">
            <b> Shared {{notif.entityShared.split("/")[0]}} through {{notif.organizationShared}} </b>
          </span>
          <ng-template #no_bold><span>Shared {{notif.entityShared.split("/")[0]}} through {{notif.organizationShared}}
            </span></ng-template>
        </button>
      </div>
      <div *ngIf="notif.type=='AFFILIATION'">
        <button mat-menu-item (click)="openNotifDialog(notif)">
          <mat-icon>cast</mat-icon>
          <span *ngIf="notif.viewed==false else no_bold">
            <b> Affiliation for {{notif.affiliatedOrg}} through {{notif.organizationShared}} </b>
          </span>
          <ng-template #no_bold><span>Affiliation for {{notif.affiliatedOrg}} through {{notif.organizationShared}} </span></ng-template>
        </button>
      </div>
      <div *ngIf="notif.type=='BROKENAFFILIATION'">
          <button mat-menu-item (click)="openNotifDialog(notif)">
            <mat-icon>voice_over_off</mat-icon>
            <span *ngIf="notif.viewed==false else no_bold">
              <b> Broken affiliation for {{notif.organizationShared}} </b>
            </span>
            <ng-template #no_bold><span>Broken affiliation for {{notif.organizationShared}}</span></ng-template>
          </button>
        </div>
        <div *ngIf="notif.type=='FYI'">
            <button mat-menu-item (click)="openNotifDialog(notif)">
              <mat-icon>info</mat-icon>
              <span *ngIf="notif.viewed==false else no_bold">
                <b> {{notif.body}} </b>
              </span>
            </button>
          </div>
    </div>      
</div>
</ng-template>

