.category{
    margin-left: 2em;
    height: 10px;
}

.view-notifs{
    height: calc(100vh - 166px);
    position: static;
    width: 100%;
    overflow-y: scroll;
}

.notif-spin{
    margin-top: 22%;
    margin-left: 44%;
}