<div class="addAlgoCard">
  <h3>Add an algorithm!</h3>
  <p>
    This Section of the Application has to do with supervisors. Please be
    cautious!
  </p>

  <mat-accordion>
    <mat-expansion-panel class="firstexpr">
      <mat-expansion-panel-header>
        <mat-panel-title> Titles </mat-panel-title>
        <mat-panel-description> Algorithm titles </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="Title" />
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Subjects </mat-panel-title>
        <mat-panel-description> Algorithm Subjects </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="Subjects" />
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Parameters </mat-panel-title>
        <mat-panel-description> Algorithm Parameters </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="Parameters" />
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Ontology </mat-panel-title>
        <mat-panel-description> Ontological classes </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="Ontology" />
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Endpoints </mat-panel-title>
        <mat-panel-description> Training endpoint </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="Training endpoint" />
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Endpoint </mat-panel-title>
        <mat-panel-description> Prediction endpoint </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="Prediction endpoint" />
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>

  <button mat-raised-button color="warn" disabled>Create</button>
</div>
