<div class="container">
  <h2>Users</h2>

  <div
    cdkDropList
    #usersList="cdkDropList"
    [cdkDropListData]="users"
    [cdkDropListConnectedTo]="[adminsList]"
    class="list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="box" *ngFor="let user of users" cdkDrag>{{ user.name }}</div>
  </div>
</div>

<div class="container">
  <h2>Admins</h2>

  <div
    cdkDropList
    #adminsList="cdkDropList"
    [cdkDropListData]="adminUsers"
    [cdkDropListConnectedTo]="[usersList]"
    class="list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="box" *ngFor="let user of adminUsers" cdkDrag>
      {{ user.name }}
    </div>
  </div>
</div>

<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="adminUsers">Set admins</button>
</mat-dialog-actions>
