<main [class.dark-theme]="isDarkTheme" class="app">



  <mat-toolbar class="toolbar" color="primary">
    <mat-toolbar-row>

      <div *ngIf="loggedIn">
        <button mat-icon-button class="side_menu" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

      </div>

      <h2>Jaqpot</h2>
      <span>
        <img class="image" src="../../assets/favicon.ico">
      </span>
      <span class="example-spacer"></span>

      <span>
        <div *ngIf="loggedIn">
          <app-search-all-component></app-search-all-component>
        </div>
      </span>

      <span class="notifications">
        <div *ngIf="loggedIn">
          <app-notification></app-notification>
        </div>
      </span>
      <span class="app-action">
        <button mat-icon-button color="accent" (click)="changeTheme()">
          <mat-icon>invert_colors</mat-icon>
        </button>
      </span>


      <div *ngIf="loggedIn; else logout">
        <a (click)="openAccounts()" matTooltip="Manage account" matTooltipPosition="below">
          <mat-icon class="account">
            <i class="material-icons">account_circle</i>
          </mat-icon>
        </a>
      </div>
      <ng-template #logout>
        <a class="login" (click)="trySSO()" matTooltip="Login" matTooltipPosition="below">
          <mat-icon class="login">
            <i class="material-icons">account_circle</i>
          </mat-icon>
        </a>
      </ng-template>
    </mat-toolbar-row>

  </mat-toolbar>

  <mat-sidenav-container class="sidenav_cont">

    <mat-sidenav class="sidenav" #sidenav mode="over">
      <mat-nav-list>
        <a mat-list-item class="side_nav_a" routerLink="/home" (click)="sidenav.toggle()">
          <mat-icon class="side_icon">home</mat-icon>
          Home
        </a>
        <mat-divider></mat-divider>
        <h2 mat-subheader class="side_header">API's</h2>
        <a mat-list-item class="side_nav_a" routerLink="/home" (click)="sidenav.toggle()">
          <mat-icon class="side_icon">repeat</mat-icon>
          Models
        </a>
        <!-- <h2 mat-subheader class="side_header">App's</h2>
        <a mat-list-item class="side_nav_a" routerLink="/workbench" (click)="sidenav.toggle()">
          <mat-icon class="side_icon">view_comfy</mat-icon>
          Workbench
        </a> -->
        <h2 mat-subheader class="side_header">BIOKINETICS</h2>
        <!-- <a mat-list-item class="side_nav_a" routerLink="/home" (click)="sidenav.toggle()">
          <mat-icon class="side_icon">pie_chart_outlined</mat-icon>
          PkSim
        </a> -->
        <!-- <a mat-list-item class="side_nav_a" routerLink="/home" (click)="sidenav.toggle()">
          <img class="toxi_img" src="../../assets/toxikin2.ico">
          Httk
        </a> -->
        <a mat-list-item class="side_nav_a" routerLink="/httk" (click)="sidenav.toggle()">
          <mat-icon class="side_icon">healing</mat-icon>
          Httk
        </a>

        
      </mat-nav-list>

      <div class="info">
        <h4 mat-subheader class="infoh">Info</h4>
        <a mat-list-item class="side_nav_a" target="_blank" href="https://www.jaqpot.org" class="infoa">
          <mat-icon class="side_icon">info</mat-icon>
        </a>
      </div>
      


    </mat-sidenav>
    <mat-sidenav-content class="app_content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>


  </mat-sidenav-container>

</main>
