<mat-list>
  <mat-divider></mat-divider>
  <mat-list-item class="listItem" *ngFor="let organization of organizations" (click)="onOrgClicked(organization)">
    <div *ngIf="organization.organizationPic">
      <img class="orgim" [src]="organization?.organizationPic" />
    </div>
    <h4 class="orgtitle" mat-line>{{organization?._id}}</h4>
    <div *ngIf="organization.city">
      <p mat-line> {{organization?.city}}, {{organization?.country}} </p>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
