.orgim{
    width: 2.5em;
    border-radius: 25%;
    float: left;
    margin-right: 1em;
}

.orgtitle{
    float: right;
}

.listItem:hover{
    cursor: pointer;
    background-color: lightgray;
    transition: all .2s ease-in-out;
}