<h4 mat-dialog-title> {{title}}</h4>

<mat-dialog-content>
  <div class="all">

    <!-- <div class="read_list">
      <mat-form-field>
        <mat-chip-list #chipList1>
          <mat-chip *ngFor="let org of organizationsWillRead" [selectable]="selectable" [removable]="removable"
            (removed)="removeReadOrg(org)">
            {{org}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input matTooltip="These Organizations will be able to read the dataset" placeholder="Read" #readInput
            [formControl]="readCtrl" [matAutocomplete]="readAuto" [matChipInputFor]="chipList1"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addReadOrg($event)">
        </mat-chip-list>
        <mat-autocomplete #readAuto="matAutocomplete" (optionSelected)="readSelected($event)">
          <mat-option *ngFor="let organization of organizationsToRead" [value]="organization">
            {{organization}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div> -->


    <div class="write_list">
      <mat-form-field>
        <mat-chip-list #chipList2>
          <mat-chip *ngFor="let org of organizationsWillWrite" [selectable]="selectable" [removable]="removable"
            (removed)="removeWriteOrg(org)">
            {{org}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input matTooltip="These Organizations will be able to write on the dataset" placeholder="Write" #writeInput
            [formControl]="writeCtrl" [matAutocomplete]="writeAuto" [matChipInputFor]="chipList2"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addWriteOrg($event)">
        </mat-chip-list>
        <mat-autocomplete #writeAuto="matAutocomplete" (optionSelected)="writeSelected($event)">
          <mat-option *ngFor="let organization of organizationsToWrite" [value]="organization">
            {{organization}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="execute_list">
      <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList3>
          <mat-chip *ngFor="let org of organizationsWillExecute" [selectable]="selectable" [removable]="removable"
            (removed)="removeExecuteOrg(org)">
            {{org}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input matTooltip="These Organizations will be able to use the dataset" placeholder="Execute" #executeInput
            [formControl]="executeCtrl" [matAutocomplete]="executeAuto" [matChipInputFor]="chipList3"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addExecuteOrg($event)">
        </mat-chip-list>
        <mat-autocomplete #executeAuto="matAutocomplete" (optionSelected)="executeSelected($event)">
          <mat-option *ngFor="let organization of organizationsToExecute" [value]="organization">
            {{organization}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>


  <div class="notes">
    <h4>Notes about sharing</h4>
    <p>Deleting is only available for the creator</p>
    <p>When something is shared with Jaqpot it becomes available for all the users</p>
    <p>The priviledges are given to all the users of an organization whared with</p>
    <h5>View</h5>
    <p>Users with will be able to view the resource</p>
    <h5>Write</h5>
    <p>Users will be able to view and edit and share the resource</p>
    <h5>Notes about Execute</h5>
    <p class="long">Users will be able to view the resource, execute tasks with the resource
      (train, predict, validate etc) and share the resource</p>
    <!-- <p>Users will be able to execute tasks with the resource <span><p>(train, predict, validate etc)</p> </span></p> -->
    <!-- <p>Users shared with will be able to share the resource </p> -->
    <!-- <div class="read_notes">
        <h5>View</h5>
      <ul>
        <li>Users with will be able to view the resource</li>
      </ul>
    </div>
    <div class="write_notes">
        <h5>Write</h5>
      <ul>
        <li>Users will be able to view the resource</li>
        <li>Users will be able to edit the resource</li>
      </ul>
    </div>
    <div class="execute_notes">
        <h5>Notes about Execute</h5>
      <ul>
        <li>Users will be able to view the resource</li>
        <li>Users will be able to execute tasks with the resource <span><p>(train, predict, validate etc)</p> </span></li>
        <li>Users shared with will be able to share the resource </li>
      </ul>
    </div> -->
  </div>

  <!-- <mat-slide-toggle class="toggle" (change)="toggleChange($event)">
    Affiliated Orgs
  </mat-slide-toggle> -->

  <div *ngIf="success">
    <mat-icon>check_circle_outline</mat-icon>
    <h5>Succesfully shared</h5>
  </div>
</mat-dialog-content>


<mat-dialog-actions>
  <!-- <button mat-raised-button [disabled]="share" (click)="reset()">
    <mat-icon matTooltip="Cancell">cancel_presentation</mat-icon>
  </button> -->
  <button mat-raised-button color="primary" [disabled]="share" (click)="startSharing()">
    <mat-icon matTooltip="Share">send</mat-icon>
  </button>

  <button mat-raised-button color="primary" (click)="makePublic()">
    <mat-icon matTooltip="Make public. Everyone will have access to execute the model.">accessibility</mat-icon>
  </button>
</mat-dialog-actions>
