.textarea{
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 182px);
    /* min-height: 400px; */
    min-width: 100%;
    background-color: unset;
    box-sizing: border-box;
}

.data{
    margin:0.5em;
}