.image-crop{
    margin-top: 2em;
    /* min-width: 220px;
    min-height: 200px;
    border: 1px dotted gray; */
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
    
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

.cropped{
    border-radius: 25%;
    margin-top: 25%;
    /* width: 100%;
    height: 100%;
    margin-top: 1em; */
}

.action{
    padding-top: 40%;
    float: right;
    bottom: 20px;
    right: 20px;

}