.edit-about-card {
    display: grid;
    width: 80%;
    border-radius: 5px;
    margin: auto;
    margin-top: 2em;
    padding-bottom: 2em;
  }
  
  .header {
    margin-top: 4em;
    float: left;
    position: fixed;
    margin-left: 180px;
  }
  
  .prof-image {
    width: 8em;
    height: 8em;
    margin-top: -16px;
    float: left;
    border-radius: 50%;
  }
  
  .user-main {
    display: grid;
    min-width: 360px;
    max-width: 360px;
    margin-top: 2em;
    margin-left: 1em;
    padding-bottom: 1em;
    float: left;
  }
  
  .upload-pic {
    width: 8em;
    height: 8em;
    margin-top: 2em;
    float: left;
    margin-left: 2em;
    z-index: -1;
  }
  
  input {
    opacity: 0;
    width: 10em;
    height: 37px;
    float: left;
    margin-left: -10em;
    margin-top: 3em;
    height: 9em;
  }
  
.photo {
    width: 18%;
    float: left;
}
  
.edit-about{
      width:90%;
      margin-top: 2em;
      margin-left: 5%;
}
  
  .actions{
      width: 100%;
  }
  
  .action-b1{
      margin-left: 5%;
      margin-top: 2em;
  }
  
  .action-b2{
      margin-left: 2em;
      margin-top: 2em;
  }