.org-photo {
  height: 8em;
}

.orgid {
  max-width: 100%;
  overflow: hidden;
}

.card_wrap {
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 2em;
  /* max-height: calc(100vh - 120px);
  overflow: auto; */
}

.base_card {
  margin-bottom: 1em;
}

.org_pic {
  width: 100%;
}

.entity_image {
  width: 100%;
  border-radius: 5px;
}

.edit-city {
  width: 100%;
}
.edit-country {
  width: 100%;
}

.descr_input {
  margin-top: 1em;
  width: 100%;
}

.admins_and_all {
  max-height: 280px;
  overflow: auto;
  padding-bottom: 1em;
}
.userim {
  margin-top: 0.5em;
  width: 3em;
  border-radius: 50%;
  /* float: left; */
}

.user_name {
  float: left;
  margin-top: 1.5em;
  margin-right: 1em;
  max-width: 50%;
  overflow: hidden;
}

.descr {
  max-height: 6em;
  overflow: auto;
}

.creator_wrap {
  min-height: 100%;
}

.admins_b {
  margin-top: 2em;
}

.adm_head {
  margin-top: 2em;
}

.creator_head {
  margin-top: 2em;
}

.overview_card {
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 2em;
  max-height: calc(100vh - 120px);
  overflow: auto;
}

.users_card {
  /* margin-top: 2em; */
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 2em;
  max-height: 280px;
  width: 100%;
  overflow: auto;
  height: 100%;
}

.grig_org {
  margin-top: 2em;
  margin-bottom: 1em;
}

.card_contact {
  margin-bottom: 2em;
  max-height: 280px;
  margin-left: 1em;
  margin-right: 1em;
  width: 100%;
  overflow: auto;
  height: 100%;
}

.affiliations {
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  max-height: 280px;
  width: 100%;
  overflow: auto;
  height: 100%;
}

.card_models {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 2em;
}

.mcont {
  /* max-height: calc(100vh - 180px);
  overflow: auto; */
}

.socialpng {
  margin-left: 1em;
  width: 2em;
  float: left;
}

.edit-website {
  width: 100%;
}

.website {
  width: 140%;
}

.editsite {
  width: 100%;
}

.socialpng {
  float: left;
  width: 2em;
}

.orgsite {
  text-decoration: none;
  margin-top: 0.5em;
  margin-left: 1em;
  margin-right: 20%;
  float: left;
  width: 60%;
  overflow: hidden;
}

.orgcontact {
  width: 100%;
}

.contemail {
  float: left;
  margin-top: 1em;
}

.contact {
  float: left;
  margin-top: 2em;
  margin-left: 2em;
  width: 60%;
  overflow: hidden;
}

.editcontact {
  width: 100%;
}

.edit-contact {
  width: 100%;
}
.markdown {
  padding: 1em;
}

.contemailedit {
  margin-left: 0.6em;
}

.aff_but {
  margin-top: 0.5em;
  margin-left: 1em;
}

.rem_aff_but {
  float: right;
}

.mat-card .mat-divider-horizontal {
  width: 100%;
  position: relative;
  margin-top: 1em;
}

.edit {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: all 0.2s ease-in-out;
  color: lightseagreen;
  opacity: 0.4;
}

.edit:hover {
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.delete {
  display: inline-block;
  position: fixed;
  bottom: 100px;
  right: 20px;
  transition: all 0.2s ease-in-out;
  color: lightseagreen;
  opacity: 0.4;
}

.delete:hover {
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.save_b {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: lightseagreen;
}

.orgim {
  width: 2.5em;
  border-radius: 25%;
  float: left;
  margin-right: 1em;
}

.orgim2 {
  width: 2em;
  border-radius: 25%;
  float: left;
  margin-right: 1em;
}

.orgtitle {
  float: right;
}

.listItem:hover {
  width: 100%;
  cursor: pointer;
  background-color: lightgray;
  transition: all 0.2s ease-in-out;
}
