<!-- <button mat-icon-button class="s_button">
  <mat-icon class="s_icon">search</mat-icon>
</button> -->

<!-- <form>
  <mat-form-field>
    <input matInput placeholder="Search">
    <mat-icon>search</mat-icon>
  </mat-form-field>
</form> -->

<!-- <div class="outlined">
    <input type="search">
  <mat-icon class="s_icon" >search</mat-icon>
</div> -->

<form class="search-form">
  <div class="input-container">
    <input
      class="input-field"
      type="text"
      placeholder="Search Jaqpot"
      (keyup.enter)="search($event)"
      [(ngModel)]="searchTerm"
      [ngModelOptions]="{ standalone: true }"
    />
  </div>
</form>

<!-- <div  class="outlined">
  <mat-form-field appearance="outline">
    <input matInput placeholder="Search Jaqpot">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div> -->
