.s_icon {
  margin-right: 14px;
  float: right;
  margin-top: 8px;
}

input {
  margin-left: 1em;
  border-radius: 6px;
  height: 100%;
  width: 88%;
  -webkit-appearance: none;
  border: 0;
  outline: none;
  border: none;
  border-width: 0;
  box-shadow: none;
}

input::-webkit-input-placeholder {
  opacity: 0;
}

input:focus::-webkit-input-placeholder {
  opacity: 0.8;
}

.search-form {
  margin-top: 8px;
}

* {
  box-sizing: border-box;
}

/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  height: 34px;
}

/* Style the input fields */
.input-field {
  margin-right: 1em;
  width: 400px;
  padding: 10px;
  outline: none;
  background: rgba(255, 255, 255, 0.121);
  background-image: url('/assets/search.png');
  background-position: 98% 50%;
  background-repeat: no-repeat;
  background-size: 26px;
  padding: 14px;
  padding-right: 32px;
  font-size: 16px;
  font-family: inherit;
}

.input-field:hover {
  margin-right: 1em;
  width: 400px;
  padding: 10px;
  outline: none;
  background: rgba(255, 255, 255, 0.421);
  background-image: url('/assets/search.png');
  background-position: 98% 50%;
  background-repeat: no-repeat;
  background-size: 26px;
  padding: 14px;
  padding-right: 32px;
  font-size: 16px;
  font-family: inherit;
}

.input-field:focus {
  background: rgba(255, 255, 255, 0.922);
  margin-right: 1em;
  width: 400px;
  padding: 10px;
  outline: none;
  background-image: url('/assets/search.png');
  background-position: 98% 50%;
  background-repeat: no-repeat;
  background-size: 26px;
  padding: 14px;
  padding-right: 32px;
  font-size: 16px;
  font-family: inherit;
  transition: 0.2s;
  /* font: 'Roboto', "Helvetica Neue", sans-serif; */
}
