.model-steps{
    float: left; 
    width: 100%;
    /* margin-left: 2.5em; */
    /* margin-right: 2.5em; */
    /* position: relative; */
    /* overflow: scroll; */
    /* z-index: -2; */
    /* flex-grow: 1; */
}

.example-header-image {
    background-image: url('https://app.jaqpot.org/assets/R.png');
    background-size: cover;
    margin-right: 2em;
}

.mat-card-avatar {
    height: 35px;
    width: 40px;
    border-radius: 60%;
    flex-shrink: 2;
}

.card-s{
    /* min-height: 100%;
    height: 100%; */
    /* height: 82vh; */
    /* margin-left: 5%; */
    overflow: auto;
    width: 80%;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    /* display: table; */
}



.titl{
    margin-left: 4%;
}

.step-card{
    /* display: table-row; */
    float: left; 
    width: 90%;
    /* margin-top: 2.7em; */
    /* height: 80%; */
    /* margin-left: 4%; */
    margin-bottom: 4em;
    margin-right: 0.5em;
    margin-left: 2em;
    /* overflow: auto; */
}

.car-list{
    
    width: 60%;
    overflow: auto;
    height: 1800px;
}

.card-div{
    margin-right: 2em;
    max-width: 94%;
    /* margin-left: 5%; */
    margin-left: 2em;
}

.container{
    position: fixed;
    float: left; 
    width: 90%;
    /* margin-left: 5.5em; */
    margin-top: 1em;
    min-height: 86%;
    margin-left: 4.2em;
    margin-bottom: 4em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.paramlist{
    float: right;
    min-height: 100%;
    width: 20%;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}